@page "{id:int}"
@model MyScriptureJournal.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scripture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Book)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Chapter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Chapter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.verseStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.verseStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.verseEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.verseEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scripture.AddedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scripture.AddedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Scripture.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
